{% extends 'base.html' %}

{% block content %}


<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About me</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Olti Shop...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align = "justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet justo eget eros lacinia, et finibus leo tincidunt. Nullam at est purus. Pellentesque maximus orci eu dui lobortis ullamcorper. Quisque elit turpis, mattis eget congue id, laoreet in mauris. Etiam ornare quis ipsum eget egestas. Quisque dui nunc, scelerisque vel lobortis vel, sodales sit amet lorem. Nulla imperdiet nisl non velit semper cursus.
                    <br><br>
                    Donec venenatis tellus dignissim, laoreet nulla non, molestie felis. Morbi condimentum scelerisque felis, sit amet venenatis leo iaculis ac. Fusce in varius neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer orci erat, bibendum sed bibendum quis, sollicitudin nec purus. Sed eget ipsum nec velit iaculis fermentum. Vestibulum rhoncus velit a neque tincidunt rhoncus. Pellentesque at velit semper, pellentesque eros eu, sollicitudin ligula. Fusce ligula neque, auctor vel neque ac, ornare lobortis urna. Etiam eget auctor nunc.
                    <br><br>
                    Fusce ut efficitur elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean eleifend elementum urna a varius. Nulla tempor scelerisque dictum. Donec scelerisque tortor sapien, in tempor odio maximus iaculis. Praesent iaculis massa at lorem tincidunt scelerisque. Aenean bibendum volutpat eros, scelerisque elementum elit laoreet at. Nullam pulvinar auctor semper. Fusce dolor sapien, tristique ut vestibulum egestas, dapibus non felis. Morbi non tortor pellentesque, mollis leo quis, efficitur neque.</p>
                <br><br>
                </div>
        </center>
    </div>
</div>

{% endblock %}